/**/bin/*
/**/obj/*
/.vs/
/node_modules/
/MemCheck.AzureFunctions/local.settings.json
/MemCheck.CommandLineDbClient/Properties/launchSettings.json
/MemCheck.DevDatabase/MemCheckData_log.ldf
/MemCheck.DevDatabase/MemCheckData.mdf
