/MemCheck.Application/bin/
/MemCheck.Application/obj/
/MemCheck.ApplicationTests/bin/
/MemCheck.ApplicationTests/obj/
/MemCheck.CommandLineDbClient/bin/
/MemCheck.CommandLineDbClient/obj/
/MemCheck.Database/bin/
/MemCheck.Database/obj/
/MemCheck.Domain/bin/
/MemCheck.Domain/obj/
/MemCheck.WebUI/bin/
/MemCheck.WebUI/obj/
/MemCheckData/bin/
/MemCheckData/obj/
/.vs/
/MemCheck.NotifierWebjob/bin/
/MemCheck.NotifierWebjob/obj/
/MemCheck.AzFunc.Notifier/bin/
/MemCheck.AzFunc.Notifier/obj/
/MemCheck.DatabaseTests/obj/
/MemCheck.DatabaseTests/bin/
/MemCheck.Basics/obj/
/MemCheck.Basics/bin/
/MemCheck.BasicsTests/bin/
/MemCheck.BasicsTests/obj/
/MemCheck.AzureFunctions/bin/
/MemCheck.AzureFunctions/obj/
/MemCheck.AzureFunctions/local.settings.json
/MemCheck.Notifier.AzureFunc/bin/
/MemCheck.Notifier.AzureFunc/obj/
