@page
@model ConfirmEmailModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["PageTitle"];
}

<h1>@ViewData["Title"]</h1>

@{
    var statusMessageClass = Model.StatusMessage.StartsWith("Error") ? "danger" : "success";
    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        @Model.StatusMessage
    </div>
}

<p><a asp-page="./Login" asp-route-returnUrl="/Index">@Localizer["PleaseLogin"]</a>.</p>
