@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
    ViewData["HelpPage"] = "/account";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
