.account-creation-input-div {
    background-color: var(--input-area-background-color);
    border-width: 1px;
    border-style: solid;
    border-color: var(--input-area-border-color);
    padding: 1px;
}

.account-creation-button-div{
}

@media (max-width: 550px) {
    .account-creation-input-div {
        margin-bottom: 10px;
    }
}

@media (min-width: 551px) and (max-width: 978px) {
    .account-creation-input-div {
        margin-bottom: 20px;
    }
}

@media (min-width: 979px) {
    .account-creation-input-div {
        margin-bottom: 30px;
    }
}
