.authoring-card-div {
    padding: 0px;
    margin-bottom: 0px;
}

.authoring-row-caption {
    font-weight: bold;
    padding: 0px;
    margin: 0px;
}

.authoring-select {
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: var(--input-field-border-color);
    background-color: var(--input-field-background-color);
}

.authoring-image-show {
    display: block;
    width: 100%;
    text-align: center;
}

.authoring-send-button {
    margin-top: 20px;
}

.authoring-textarea {
    display: block;
    width: 100%;
    resize: both;
    border-radius: 0.25rem;
    border-width: 1px;
    border-style: solid;
    border-color: var(--input-field-border-color);
    background-color: var(--input-field-background-color);
}
