.authoring-image-choice {
}

.authoring-image-choice-input {
    width: 100px;
    margin-left: 5px;
    margin-right: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--input-field-border-color);
    background-color: var(--input-field-background-color);
}
