:root {
    --z-index-menu: 1000;
}

.layout-header {
    border-bottom: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--header-color);
    padding: 0px;
    display: block;
    background-color: snow;
    z-index: var(--z-index-menu);
}

.close-navbar-toggler {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

    .close-navbar-toggler.collapsed {
        display: none;
    }

.debug-toggler {
    color: red;
    border: 1px solid transparent;
    border-radius: 5px;
}

.layout-header-navbar {
    padding: 0px;
    height: 100%;
    width: 100%;
    background-color: var(--header-color);
}

    .layout-header-navbar ul {
        background-color: var(--header-color);
        padding: 0px;
        vertical-align: middle;
        width: 100%;
        height: 100%;
        z-index: var(--z-index-menu);
    }

    .layout-header-navbar a:hover {
        background-color: var(--menu-hover-color);
    }

    .layout-header-navbar button {
        height: 28px;
        padding: 2px;
        align-content: center;
        vertical-align: middle;
        align-items: center;
        display: flex;
        background-color: var(--header-color);
        z-index: var(--z-index-menu);
    }

        .layout-header-navbar button:hover {
            background-color: var(--menu-hover-color);
        }

    .layout-header-navbar select:hover {
        background-color: var(--menu-hover-color);
    }

    .layout-header-navbar option:hover {
        background-color: var(--menu-hover-color);
    }

.layout-footer {
    margin-top: auto;
}

.layout-footer-navbar {
    padding-top: 0px;
    margin-top: 0px;
}

    .layout-footer-navbar a {
        color: rgba(0, 0, 0, 0.55);
    }

        .layout-footer-navbar a:hover {
            background-color: var(--menu-hover-color);
        }

.navbar-memcheck-link {
    z-index: var(--z-index-menu);
    padding: 0px;
    margin: 0 10px 0 0;
}

    .navbar-memcheck-link:hover {
        background-color: var(--menu-hover-color);
    }

.hamburger-menu-text {
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 25px;
    font-weight: bold;
    z-index: var(--z-index-menu);
}

.navbar-part {
    height: 100%;
    background-color: var(--header-color);
    z-index: var(--z-index-menu);
}

.site-body {
    margin: 0px;
}

.site-main {
    padding: 0px;
}

@media (max-width: 575.98px) {
    .site-body {
        padding: 1px;
    }

    .site-main {
        margin-bottom: 5px;
    }

    .layout-header {
        margin-bottom: 5px;
        height: 45px;
        align-items: start;
    }

    .layout-header-navbar {
        padding: 0px;
        width: 100%;
    }

    .navbar-container {
        width: 200px;
        align-content: start;
        align-items: start;
    }

    .layout-header-navbar ul {
        border-style: solid;
        border-color: lightgray;
        border-width: 1px;
    }
}

@media (min-width: 575.99px) and (max-width: 978px) {
    .site-body {
        padding: 5px;
    }

    .site-main {
        margin-bottom: 10px;
    }

    .layout-header {
        margin-bottom: 20px;
        height: 50px;
    }

    .right-part-ul {
        align-items: center;
    }
}

@media (min-width: 979px) {
    .site-body {
        padding: 10px;
    }

    .site-main {
        margin-bottom: 20px;
    }

    .layout-header {
        margin-bottom: 30px;
        height: 55px;
    }

    .right-part-ul {
        align-items: center;
    }
}
