.learning-card {
    border: none;
}

.learning-card-header {
    height: 20px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 75%;
    line-height: 1;
    text-align: left;
    background-color: darkgray;
    color: white;
}

.learning-card-footer {
    border: none;
    line-height: 1;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}

.learning-card-tags {
    border: none;
    height: 40px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 1;
    text-align: left;
    vertical-align: middle;
    background-color: white;
    color: white;
}

.learning-card-body-image-div {
    display: block;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

.popover-section-title {
    font-weight: bold;
}

.learning-card-rating-menuentry {
    height: 22px;
    padding: 0px;
    border-radius: 2px;
    font-size: 14px;
    font-weight: bolder;
    color: black;
    background-color: white;
    border-color: ButtonFace;
    border-width: 1px;
    border-style: outset;
    border-image: initial;
    text-align: left;
}

.learning-popover-menu {
    text-align: left;
}

.small-buttons-ul {
    display: flex;
    padding: 0px;
    margin: 0px;
    align-items: center;
}

.small-buttons-div {
    background-color: WhiteSmoke;
}

@media (max-width: 550px) {
    .small-buttons-ul {
        font-size: 14px;
    }

    .small-buttons-div {
        margin-bottom: 20px;
    }

    .learning-card-footer {
        padding-top: 5px;
    }
}

@media (min-width: 551px) and (max-width: 978px) {
    .small-buttons-ul {
        font-size: 15px;
    }

    .small-buttons-div {
        margin-bottom: 10px;
    }

    .learning-card-footer {
        padding-top: 10px;
    }
}

@media (min-width: 979px) {
    .small-buttons-ul {
        font-size: 16px;
    }

    .small-buttons-div {
        margin-bottom: 30px;
    }

    .learning-card-footer {
        padding-top: 15px;
    }
}
