.markdown-render ul {
    list-style: initial;
}

.markdown-render ol {
    list-style: decimal;
}

.markdown-render {
    white-space: normal;
}

@media (max-width: 550px) {
    .markdown-render {
        padding: 0px;
    }
}

@media (min-width: 551px) and (max-width: 978px) {
    .markdown-render {
        padding: 10px;
    }
}

@media (min-width: 979px) {
    .markdown-render {
        padding: 20px;
    }
}
