.markdown-edit-textarea {
    display: block;
    width: 100%;
    resize: none;
    border-width: 1px;
    border-style: solid;
    border-radius: 0px;
    border-spacing: 0px;
    padding: 1px;
    box-sizing: border-box;
    margin: 0px;
    overflow: hidden;
    border-color: var(--input-field-border-color);
    background-color: var(--input-field-background-color);
}

.markdown-edit-main-div {
    padding: 0px;
    border-radius: 4px;
    color: ButtonText;
    background-color: transparent;
    border-style: none;
    margin: 0px;
    width: 100%;
}

.markdown-edit-top-bar-div {
    padding-left: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-style: none;
    font-weight: bold;
    vertical-align: middle;
}

.markdown-edit-text-input-div {
    width: 100%;
}

.markdown-edit-preview-div {
    width: 100%;
}

.markdown-edit-button {
    height: 20px;
    width: 20px;
    padding: 0px;
    border-radius: 4px;
    font-size: 13px;
    text-align: center;
    vertical-align: middle;
    color: ButtonText;
    background-color: transparent;
    border-color: ButtonFace;
    border-width: 1px;
    box-sizing: unset;
    margin-right: 3px;
}

    .markdown-edit-button:hover {
        background-color: ButtonFace;
        border-color: ButtonHighlight;
    }

.markdown-edit-button-nbsp {
    font-size: 11px;
    line-height: 35px;
}

.markdown-edit-preview {
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    border-color: lightgray;
}
