.markdown-render table {
    width: auto;
    border-style: solid;
    border-width: 1px;
    display: table;
}

.markdown-render tbody {
    width: auto;
    border-style: solid;
    border-width: 1px;
}

.markdown-render thead {
    width: auto;
    border-style: solid;
    border-width: 1px;
    display: table-row-group;
}

.markdown-render tr {
    width: auto;
    border-style: solid;
    border-width: 1px;
    display: table-row;
}

.markdown-render th {
    width: auto;
    border-style: solid;
    border-width: 1px;
    display: table-cell;
}

.markdown-render td {
    width: auto;
    border-style: solid;
    border-width: 1px;
    display: table-cell;
}

@media (max-width: 550px) {
    .markdown-render {
        display: block;
        white-space: normal;
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 1px;
        padding-right: 1px;
        width: 100%;
        border-style: none;
        margin: 0px;
    }
}

@media (min-width: 551px) {
    .markdown-render {
        display: block;
        white-space: normal;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        border-style: none;
        margin: 0px;
    }
}
