.markdown-render {
    white-space: normal;
    border-radius: 4px;
    background-color: transparent;
}

    .markdown-render ul {
        list-style: initial;
    }

    .markdown-render ol {
        list-style: decimal;
    }

    .markdown-render table {
        width: 100%;
    }

.markdown-render-image-div {
    text-align: center;
}

.markdown-render-image-small {
    cursor: pointer;
}

.markdown-render-image-medium {
    cursor: pointer;
}

.markdown-render-image-big {
    cursor: pointer;
}

@media (max-width: 550px) {
    .markdown-render {
        padding: 1px;
    }

        .markdown-render table th {
            padding: 1px;
        }

        .markdown-render table td {
            padding: 1px;
        }

    .markdown-render-image-small {
        width: 150px;
    }

    .markdown-render-image-medium {
        width: 250px;
    }

    .markdown-render-image-big {
        width: 350px;
    }
}

@media (min-width: 551px) and (max-width: 978px) {
    .markdown-render {
        padding: 10px;
    }

        .markdown-render table th {
            padding: 5px;
        }

        .markdown-render table td {
            padding: 5px;
        }

    .markdown-render-image-small {
        width: 250px;
    }

    .markdown-render-image-medium {
        width: 350px;
    }

    .markdown-render-image-big {
        width: 450px;
    }
}

@media (min-width: 979px) {
    .markdown-render {
        padding: 20px;
    }

        .markdown-render table th {
            padding: 10px;
        }

        .markdown-render table td {
            padding: 10px;
        }

    .markdown-render-image-small {
        width: 350px;
    }

    .markdown-render-image-medium {
        width: 450px;
    }

    .markdown-render-image-big {
        width: 550px;
    }
}
