.markdown-render table {
    width: auto;
    border-style: solid;
    border-width: 1px;
    display: table;
}

.markdown-render tbody {
    width: auto;
    border-style: solid;
    border-width: 1px;
}

.markdown-render thead {
    width: auto;
    border-style: solid;
    border-width: 1px;
    display: table-row-group;
}

.markdown-render tr {
    width: auto;
    border-style: solid;
    border-width: 1px;
    display: table-row;
}

.markdown-render th {
    width: auto;
    border-style: solid;
    border-width: 1px;
    display: table-cell;
}

.markdown-render td {
    width: auto;
    border-style: solid;
    border-width: 1px;
    display: table-cell;
}

.markdown-render ul,
.markdown-render ol {
    padding-bottom: 5px;
    list-style: initial;
}

.markdown-render li {
    display: list-item;
    white-space: pre-wrap;
    padding-bottom: 2px;
}

@media (max-width: 550px) {
    .markdown-render * {
        display: block;
        white-space: normal;
        width: 100%;
        border-style: none;
        margin: 0px;
        margin-block-end: 0px;
    }
}

@media (min-width: 551px) {
    .markdown-render * {
        display: block;
        white-space: normal;
        width: 100%;
        border-style: none;
        margin: 0px;
        margin-block-end: 0px;
    }
}
