.rating-paragraph {
    padding: 10px;
    margin: 0px;
}

@media (max-width: 550px) {
    .rating-button {
        line-height: 0px;
    }

    .rating-star {
        font-size: 10px;
    }
}

@media (min-width: 551px) and (max-width: 978px) {
    .rating-button {
        line-height: 5px;
    }

    .rating-star {
        font-size: 12px;
    }
}

@media (min-width: 979px) {
    .rating-button {
        line-height: 10px;
    }

    .rating-star {
        font-size: 14px;
    }
}
