.toolbar-button {
    height: 36px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 6px;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    vertical-align: middle;
    color: ButtonText;
    background-color: ButtonFace;
    border-color: ButtonFace;
    border-width: 2px;
    border-style: outset;
}

.toolbar-button-circle {
    border-radius: 18px;
    width: 36px;
}

@media (max-width: 550px) {
    .toolbar-button {
        height: 22px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 1px;
        padding-right: 1px;
        border-radius: 1px;
        font-size: 14px;
        line-height: 10px;
        text-align: center;
        vertical-align: middle;
        color: ButtonText;
        background-color: ButtonFace;
        border-color: ButtonFace;
        border-width: 1px;
        border-style: outset;
        color: red;
    }

    .toolbar-button-circle {
        border-radius: 11px;
        width: 22px;
    }
}

@media (min-width: 551px) and (max-width: 978px) {
    .toolbar-button {
        height: 28px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 2px;
        padding-right: 2px;
        border-radius: 3px;
        font-size: 15px;
        line-height: 10px;
        text-align: center;
        vertical-align: middle;
        color: ButtonText;
        background-color: ButtonFace;
        border-color: ButtonFace;
        border-width: 1px;
        border-style: outset;
    }

    .toolbar-button-circle {
        border-radius: 14px;
        width: 28px;
    }
}
