<ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.PageNavClass(ViewContext, ManageNavPages.Index)" asp-page="./Index">Environment</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.PageNavClass(ViewContext, ManageNavPages.Languages)" asp-page="/Admin/Languages">Languages</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.PageNavClass(ViewContext, ManageNavPages.Users)" asp-page="/Admin/Users">Users</a></li>
</ul>
