@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@section scripts {
    <script type="module" src="~/js/Admin/Notifier.js" asp-append-version="true"></script>
}
@{
    ViewData["Title"] = "Notifier";
}

<div id="NotifierMainDiv" class="page-responsive-padding" v-cloak>
    <div id="Waiting for mount" v-if="!mountFinished">
        <p class="wait-message">@Localizer["PleaseWaitForMount"]</p>
    </div>
    <div id="Waiting for mount" v-if="running">
        <p class="wait-message">Running</p>
    </div>
    <div id="After mount" v-if="mountFinished && !running">
        <div class="section">
            <h1 class="title">New run...</h1>
            <button class="btn btn-success btn-lg" v-on:click="launch">Launch</button>
        </div>
    </div>
</div>
