@page
@using Microsoft.AspNetCore.Mvc.Localization
@model MdRendererModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["PageTitle"];
}

<div id="IndexFrMainDiv" class="page-responsive-padding">
    @(new Microsoft.AspNetCore.Html.HtmlString(Model.PageContents))
</div>
